// List Item
- var items = [{path: './images/HOME/product_2.jpg', title: 'OHUI'}, {path: './images/HOME/product_3.jpg', title: 'HOME'}, {path: './images/HOME/product_3.jpg', title: 'HOME'}, {path: './images/HOME/product_3.jpg', title: 'HOME'}, {path: './images/HOME/product_3.jpg', title: 'HOME'}, {path: './images/HOME/product_3.jpg', title: 'HOME'}]

// Category
- var arrContents = ['Vòng tay', 'Nhẫn', 'Lắc chân', 'Phụ kiện khác', 'Giày lười Giày mọi'];
- var arrDanhMucs = [{title: 'Mỹ phẩm', contents: arrContents}, {title: 'Trang sức', contents: arrContents}, {title: 'Phụ kiện', contents: arrContents}];

// Tags
- var tags = ['Hoa tai', 'Son', 'Nước hoa', 'Giày', 'Sandal', 'Áo sơ mi', 'Nước hoa', 'Trẻ em', 'Thời trang nữ'];