.blog.pb-5.pb-sm-0
    .img-thumbnail.p-0
        img.img-fluid.w-100(src='./images/Blog/blog_item--img1.png', alt='Blog Image')
    .blog--content
        h6.text-uppercase.title--content.mt-3 Nàng béo không ngại diện váy áo nỗi bật
        hr
        p
            | Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hăm
            | nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm
            | Free để giải nhiệt. Trong tiết xuân hè, nàng ngoại cỡ thắp sáng phong cách bằng quần
            | họa tiết nhiệt đới đi kèm áo sơ mi nhã nhặn. Trang phục họa tiết điện tử được nàng phối cùng chấn
            | váy kẻ caro, làm nên style vừa hiện đại, vừa phảng phất nét cổ điển. Lối diện đồ hàng ngày đơn giản,
            | khỏe khắn của cô khi kết hợp chất liệu jean.
        a.link--content(href='#')
            i Bởi NamTran (27/05/2015)
        hr
        a.link--content(href='#')
            | Đọc thêm
            i.fas.fa-angle-right
        a.link--content.float-right(href='#') 23 Bình luận
    .blog--comment.mt-5
        span Tag: &nbsp;
        span Men
        hr
        h5.text-uppercase.mt-4.mb-4 Đóng góp ý kiến
        form(action='#')
            .form-group
                label(for='name')
                    | Tên
                    span *
                input#name.form-control(type='text')
            .form-group
                label(for='email')
                    | Email
                    span *
                input#email.form-control(type='email')
            .form-group
                label(for='comment')
                    | Ý kiến
                    span *
                input#comment.form-control(type='text')
            .wrap-button
                button.btn.btn-custom.text-uppercase.mt-4 Gữi ý kiến