.news--posts
    h5.text-uppercase.product--title.pb-3.mt-4.mt-lg-0 Bài viết mới nhất
    .news--item.mt-4.mt-lg-3
        .img-thumbnail
            img.img-fluid(src='./images/BlogDetail/blog_image--item1.png', alt='news 1')
        .content.ml-lg-3
            h5 11
            span Tháng 5
            p Đăng bởi Giangle
    .news--item.mt-4.mt-lg-3
        .img-thumbnail
            img.img-fluid(src='./images/BlogDetail/blog_image--item1.png', alt='news 1')
        .content.ml-lg-3
            h5 11
            span Tháng 5
            p Đăng bởi Giangle