doctype html
head
    meta(charset='UTF-8')
    title Mandala
    link(rel='stylesheet', href='css/SCSS/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css')
body
    .img_page404
        .img-thumbnail
            img.img-fluid(src='./images/404/page_404.jpg')
        .input-group.mb-3.mt-4
            input.form-control(type='text')
            .input-group-append
                span.input-group-text
                    i.fas.fa-search
        .contact_404
            a.text-uppercase.mr-3(href='#') Liên hệ
            a.text-uppercase.ml-3(href='#') Trang chủ