extends ./layout/layout

block content
    include ./component/popup

    include ./component/com-index/navbar-index

    include ./component/com-index/banner

    include ./component/com-index/body-content

    include ./component/com-index/hot-product

    include ./component/com-index/further-info