extends ./layout/layout

block content
    include ./component/com-layout/navbar

    .container
        include ./component/com-shoppingcart/breadcrumb-cart
        include ./component/com-shoppingcart/cart

block append script
    script(src='js/JsPages/shopping-cart.js')