extends ./layout/layout

block content
    include ./component/com-layout/navbar

    .container
        // breadcrumb
        .container.mt-3
            include ./component/com-signIn/breadcrumb-signIn

            include ./component/com-signIn/form-signIn