extends ./layout/layout

block content
    include ./component/com-layout/navbar

    .container
        // breadcrumb
        .container.mt-3
            include ./component/com-signUp/breadcrumb-signUp

            include ./component/com-signUp/form-signUp
