// breadcrumb
.container.mt-3
    nav(aria-label='breadcrumb').breadcrumb--custom
        ol.breadcrumb.pl-0
            li.breadcrumb-item
                a(href='#') Home
            li.breadcrumb-item
                a(href='#') Sản phẩm
            li.breadcrumb-item.active(aria-current='page') Trang sức