include ./variable-data

h3.text-uppercase.mt-3.mb-3 Giỏ hàng
.cart--table.mb-5
    table.table.table-bordered.table-responsive-sm
        thead
            tr
                for title in arrTableTitles
                    th.text-uppercase.text-center= title
        tbody.tinfo_cart
    .cart_btn.text-uppercase
        a(href='product.html')
            .btn.btn-dark Tiếp tục mua hàng
        a(href='payment.html')
            .btn.btn-dark.btn--update Thanh toán