nav(aria-label='breadcrumb').breadcrumb--custom.breadcrumb--account
    ol.breadcrumb.pl-0.pb-0
        li.breadcrumb-item
            a(href='#') Home
        li.breadcrumb-item.active(aria-current='page') Tài khoản