h5.text-uppercase.mb-4 Chi tiết tài khoản
hr
.account_item--sub
    .img-thumbnail.p-0.mr-3
        img.img-fluid(src='./images/Account/user--icon.png')
    .account_item--info
        h6 GiangLe
        span Leanhgiang89@gmail.com
.account_item--sub.mt-4
    .img-thumbnail.p-0.mr-3
        i.fas.fa-map-marker-alt
    .account_item--info
        span Tòa nhà Hà Nội group 442 Đội Cấn, Ba Đình Hà Nội
.account_item--sub
    .img-thumbnail.p-0.mr-2
        img.img-fluid(src='./images/Account/telephone--icon.png')
    .account_item--info
        span (04) 3786 8904