// Title Table
- var arrTableTitles = ['Order', 'Date', 'Tình trạng thanh toán', 'Tổng', 'Nợ'];

// Table status
- var arrStatusAccounts = [{state: 'Đã thanh toán', debt: '0'}, {state: 'Đã thanh toán', debt: '0'}, {state: 'Đã thanh toán', debt: '0'}, {state: 'Thanh toán 50%', debt: '270.000đ'}]