doctype html
head
    meta(charset='UTF-8')
    title Mandala
    link(rel='stylesheet', href='css/SCSS/style.css')
    link(rel='stylesheet', href='css/CSSLib/bootstrap.min.css')
    link(rel='stylesheet', href='css/CSSLib/owl.carousel.min.css')
    link(rel='stylesheet', href='css/CSSLib/owl.theme.default.min.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Lobster', rel='stylesheet')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/CSSLib/font-extention.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')

body
    block content

    block footers
        include ../component/com-layout/footer

block script
    script(src='js/JSLib/bootstrap.min.js')
    script(src='js/JSLib/jquery.min.js')
    script(src='js/JSLib/popper.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
    script(src='js/JSLib/owl.carousel.min.js')
    script(src='js/script.js')
    script(src='js/JsPages/detail.js')
    script(src='js/JsPages/product.js')