include ./variable-data

mixin cartItem
    - var num = 0
    .cart.dropdown.pr-3.pr-md-1
        a(href='#')
            img.mr-lg-3(src='./images/HOME/shoppoing-cart.png', alt='')
        .dropdown-menu.w-100
            .cart_item
                // show detail item
                .cart_item--sub
                    while num < 2
                        // Item 1
                        .item--sub--sub.mt-lg-1.pt-lg-1
                            .img-fluid
                                img(src='./images/HOME/shoppoing-cart_product.jpg', alt='')
                            .item--sub--sub--content
                                span.pl-2 Áo sơ mi Nam
                                span.pl-2
                                    | 120.000
                                    sup đ
                            a(href='#')
                                img(src='./images/HOME/shopping-cart--icon--remove.png', alt='')
                        - num += 1
                hr
                // Total price in cart
                .total--price
                    span Tổng số
                    span.float-right
                        | 240.000
                        sup đ
                button.text-uppercase.btn.btn-dark.mb-3.mt-2 Giỏ hàng
    a(href='#')
        img(src='./images/HOME/btn-search.png', alt='')

.container
    // Brand
    a.navbar-brand(href='#')
        img(src='./images/HOME/logo.png', alt='')
    // Shopping cart and Search
    #manager--tool--1.img--tool
        + cartItem
    // Toggler/collapsibe Button
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#collapsibleNavbar')
        i.fa.fa-bars
    // Navbar links
    #collapsibleNavbar.collapse.navbar-collapse
        ul.navbar-nav.m-auto
            li.nav-item
                a.nav-link.text-uppercase(href='#') TRANG CHỦ
            li.nav-item
                a.nav-link.text-uppercase(href='#') GIỚI THIỆU
            li.nav-item.dropdown
                a.nav-link.text-uppercase(href='#') Sản phẩm
                .dropdown-menu
                    .menu_item
                        for item in arrTitleDropDown
                            // Item 1
                            .menu_item--sub
                                h6.text-dark.text-uppercase= item.name
                                hr
                                ul.pl-0
                                    for itemSub in item.data
                                        li
                                            a(href='#')= itemSub
            li.nav-item
                a.nav-link.text-uppercase(href='#') tin tức
            li.nav-item
                a.nav-link.text-uppercase(href='#') bản đồ
            li.nav-item
                a.nav-link.text-uppercase(href='#') liên hệ
    // Shopping cart and Search
    #manager--tool--2.img--tool
        + cartItem