// Footer
- var arrChuyenHang = ['Mua sắm trực tuyến', 'Đến từ chúng tôi gữi đến', 'Chính sách vận chuyển', 'Vận chuyển thông tin'];
- var arrHoTro = ['Cậu chuyện của chúng ta', 'Thanh toán an toàn', 'Tùy chọn vận chuyển', 'Chính sách vận chuyển'];
- var arrThongTin = ['Về chúng tôi', 'Điều khoản và điều kiện', 'Chính sách riêng tư', 'Đơn đặt hàng và Returns'];
- var arrAccount = ['Xem giỏ hàng', 'Sản phẩm yêu thích', 'Kiểm tra', 'Theo dõi đặt hàng của tôi'];
- var arrObjFooter = [{title: 'Chuyển hàng', contents: arrChuyenHang}, {title: 'Hỗ trợ', contents: arrHoTro}, {title: 'Thông tin', contents: arrThongTin}, {title: 'My Account', contents: arrAccount}];

// Navbar-item
- var arrItemDropDownFirst = ['Áo khoác', 'Bộ áo liền quần', 'Dresses', 'Quần /Váy', 'Quần short', 'Quần jean', 'Đồ đan', 'Áo nỉ'];
- var arrItemDropDownSecond = ['Áo cánh /Áo sơ mi', 'Túi sách & Balô', 'Khăn quàng cổ và Foulards', 'Dệt kim Hats & Gloves', 'Vớ và Socks', 'Jewerly', 'Bị bảo vệ', 'Gày'];
- var obj1 = {name: 'Dưỡng Da', data: arrItemDropDownFirst};
- var obj2 = {name: 'Nước Hoa', data: arrItemDropDownSecond};
- var obj3 = {name: 'Trang sức', data: arrItemDropDownSecond};
- var arrTitleDropDown = [obj1, obj2, obj3];