.detail_info.mt-5.mb-5.mt-lg-0.mb-lg-0.col-lg-6.col-12
    .product--info--list
        h3.pb-2.pb-lg-1.text-uppercase Lắc tay tyffany xu hướng mới nhất
        span.text-uppercase tyffany ms 3201
        .product--price.mb-3.mt-3.mb-lg-2.mt-lg-2
            span 955.000đ &nbsp;
            span 999.000đ
        .rating--like
            p.pt-2.pt-lg-2
                | Không thể phủ nhận, thời trang và phong cách chính là "tuyên ngôn" không lời mạnh mẽ nhất của mỗi người phụ nữ.
                | Do đó, việc mua sắm thời trang trở thành niềm vui, và có khi là nguồn cảm hứng vô tận để phái đẹp
                | sống vui, sống đẹp hơn trong mất nửa còn lại của thế giới. Để F5 tủ đồ của mình trước những xu hướng
                | ngày một đa dạn hơn trong thế giới thời trang, nhiều chị em không ngần ngại chi tiêu "mạnh tay" để sở hữu những món đồ yêu thích.
            span.text-uppercase Màu sắc
            select.w-100.p-2.mt-3.mb-3.mt-lg-2.mb-lg-2(name='color')
                option(value='') Màu Bạc
                option(value='') Màu Vàng
            span.text-uppercase Size
            select.w-100.p-2.mt-3.mb-3.mt-lg-2.mb-lg-2(name='color')
                option(value='') 12
                option(value='') 13
            span.text-uppercase Số lượng
            .product--btn--buy.pb-3.mt-3.pb-lg-0.mb-lg-2.mt-lg-2
                button.btn.btn-custom.text-uppercase Mua hàng
                button.btn.btn-custom.ml-1
                    img(src='./images/HOME/heart.png', alt='heart')
                button.btn.btn-custom.ml-1
                    img(src='./images/HOME/reload.png', alt='reload')
            span.ship
                | Shipping & &nbsp;
                span Returns
            br
            img.mt-3.mt-lg-2(src='./images/Detail/product--connect.jpg', alt='')