// Tags
- var paths = ['./images/Detail/product_info--img--2.jpg', './images/Detail/product_info--img--1.jpg', './images/Detail/product_info--img--4.jpg', './images/Detail/product_info--img--3.png'];
- var tabNames = ['Đặc điểm nổi bật', 'Thông tin sản phẩm', 'Đánh giá'];