// Further
- var contents = ['Đồng hồ', 'Túi', 'Phụ kiện', 'Đồng hồ', 'Sandal', 'Trẻ em', 'Giày', 'Sandal', 'Áo sơ mi', 'Nước hoa', 'Giày', 'Thời trang nữ', 'Trẻ em', 'Thời trang nữ', 'Trẻ em', 'Thời trang nữ']

// Hot-product
- var arrItem =[{path: './images/HOME/product_1.jpg', title: 'TYFFANY'}, {path: './images/HOME/product_2.jpg', title: 'OHUI'}, {path: './images/HOME/product_3.jpg', title: 'HOME'}, {path: './images/HOME/product_4.jpg', title: 'DEBORA'}, {path: './images/HOME/product_5.jpg', title: 'SARVON'}, {path: './images/HOME/product_6.jpg', title: 'TYFFANY'}]

// Body-Content
- var promotions = [{path: './images/HOME/plane.png', data: 'Miễn Phí vận chuyển'}, {path: './images/HOME/gift.png', data: 'Nhận ngay quà tặng trị giá 350.000đ'}, {path: './images/HOME/star.png', data: 'Giảm 30% cho đơn hàng trên 5.000.000đ'}];